

:root{
    --MainColor:#212121;
    --MainFontColor:white;
    --BackButtonColor:white;
    --placeholderColor:white;
}

.inputlabel {
    color: var(--MainFontColor)
}

* {
    color: var(--MainFontColor)
}

#dashboard {
    background-color: var(--MainColor);
}

#settingcard {

    background-color:var(--MainColor);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:var(--placeholderColor) ;
    font-size: 14px;
    font-family: "Times New Roman";
    opacity: 0.7; /* Firefox */
}

#setting {
    margin-top: 100px;
    margin-left: 500px;
}

#clearbtn {
    background: red;
}

#backbutton {
    float: left;
    font-size: 18px;
    padding: 5px;
    color:var(--BackButtonColor);
}




body {
    width: 100%;
    height: 100%;
    overflow: hidden;


}

#settings-heading {
    background-color: #26a69a;
    padding-bottom: 15px;
}

.inputlabel {
    font-size: 20px;
    float: left;
    color: var(--MainFontColor);

}

#settings-container {
    font-size: 20px;
}

#about-container {
    font-size: 20px;
}

#about-heading {
    background-color:-- #212121;
    color: white;
}
#cardtitle{
    font-size:   35px;
    margin-left: -50px;
    font-family: bold;
}
#backimg {
    float: left;
}

#image_theme {
    color: white;
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: darkgray;
    outline: none;
    padding: 0px;
    font-size: 15px;
    background-color: #212121;
}

small {
    color: red;
}

#image_theme:focus {
    display: block;
    border-bottom-color: #26a69a;
    outline: none;
    padding: 0px;
    background-color: #212121;
}

#login-heading {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 2px;
    margin: 2px;
}

input {
    font-family: monospace;
    color: white;

}

.orders {
    height: 40px;
}

.indicators {
    display: none;
}

.s4 {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    height: 34vh;
}

/*#displayHeaderImage {*/
/*    margin: 0px;*/
/*    padding: 0px;*/
/*    width: 100%;*/
/*    height: 31vh;*/
/*    z-index: 3;*/
/*}*/

/*h1 {*/
/*    font-family: sans-serif;*/
/*    font-weight: 700;*/
/*    text-align: center;*/
/*    font-size: 100px;*/
/*}*/


/*@media only screen and (max-width: 6000px) {*/
/*    h1 {*/
/*        font-family: sans-serif;*/
/*        font-weight: 800;*/
/*        font-size: 300px;*/
/*        text-align: center;*/
/*        margin-top:130px;*/

/*    }*/

/*    }*/

/*@media only screen and (max-width: 4000px) {*/
/*    h1 {*/
/*        font-family: sans-serif;*/
/*        font-weight: 800;*/
/*        font-size: 200px;*/
/*        text-align: center;*/
/*        margin-top:150px;*/


/*    }*/
/*    }*/

/*@media only screen and (max-width: 2000px) {*/
/*    h1 {*/
/*        font-family: sans-serif;*/
/*        font-weight: 800;*/
/*        font-size: 150px;*/
/*        text-align: center;*/
/*        margin-top:230px;*/


/*    }*/
/*}*/

/*@media only screen and (max-width: 1000px) {*/
/*    h1 {*/
/*        font-family: sans-serif;*/
/*        font-weight: 800;*/
/*        font-size: 120px;*/
/*        text-align: center;*/
/*        margin-top:250px;*/


/*    }*/


/*}*/

/*@media screen and (max-width: 5000px) {*/
/*    h1 {*/
/*        font-family: sans-serif;*/
/*        font-weight: 600;*/
/*        font-size: 380px;*/
/*        margin-top:50px;*/


/*    }*/


/*@media screen and (max-width: 4600px) {*/
/*    h1 {*/
/*        font-family: sans-serif;*/
/*        font-weight: 600;*/
/*        font-size: 350px;*/
/*    }*/

/*@media screen and (max-width: 3500px) {*/
/*    h1 {*/
/*        font-family: sans-serif;*/
/*        font-weight: 600;*/
/*        font-size: 250px;*/
/*        */
/*    }*/

/*@media screen and (max-width: 2550px) {*/
/*    h1 {*/
/*        font-family: sans-serif;*/
/*        font-weight: 600;*/
/*        font-size: 230px;*/
/*        */
/*    }*/


/*@media screen and (max-width: 2050px) {*/
/*    h1 {*/
/*        font-family: sans-serif;*/
/*        font-weight: 600;*/
/*        font-size: 200px;*/
/*        margin-top:150px;*/
/*    }*/

/*@media screen and (max-width: 1650px) {*/
/*    h1 {*/
/*        font-family: sans-serif;*/
/*        font-weight: 600;*/
/*        font-size: 150px;*/
/*        margin-top:150px;*/
/*    }*/

/*@media screen and (max-width: 1450px) {*/
/*    h1 {*/
/*        font-family: sans-serif;*/
/*        font-weight: 600;*/
/*        font-size: 140px;*/
/*        margin-top:150px;*/
/*    }*/

/*@media screen and (max-width: 1250px) {*/
/*    h1 {*/
/*        font-family: sans-serif;*/
/*        font-weight: 600;*/
/*        font-size: 100px;*/
/*        margin-top:150px;*/
/*    }*/

@media screen and (max-width: 5550px) {
    h1 {
        margin-top: 200px;
        font-family: sans-serif;
        font-weight: 1000;
        font-size: 450px;

    }

}

@media screen and (max-width: 5000px) {
    h1 {
        margin-top: 200px;
        font-family: sans-serif;
        font-weight: 1000;
        font-size: 400px;

    }

}

@media screen and (max-width: 4500px) {
    h1 {
        margin-top: 180px;
        font-family: sans-serif;
        font-weight: 1000;
        font-size: 350px;

    }

}

@media screen and (max-width: 4050px) {
    h1 {
        margin-top: 150px;
        font-family: sans-serif;
        font-weight: 1000;
        font-size: 330px;

    }

}

@media screen and (max-width: 3500px) {
    h1 {
        margin-top: 140px;
        font-family: sans-serif;
        font-weight: 1000;
        font-size: 300px;

    }

}

@media screen and (max-width: 3050px) {
    h1 {
        margin-top: 110px;
        font-family: sans-serif;
        font-weight: 1000;
        font-size: 250px;

    }

}

@media screen and (max-width: 2050px) {
    h1 {
        margin-top: 85px;
        font-family: sans-serif;
        font-weight: 1000;
        font-size: 150px;

    }

}

@media screen and (max-width: 1700px) {
    h1 {

        margin-top: 55px;
        font-family: sans-serif;
        font-weight: 1000;
        font-size: 110px;

    }

}


@media screen and (max-width: 1350px) {
    h1 {
        margin-top: 50px;
        font-family: sans-serif;
        font-weight: 1000;
        font-size: 100px;

    }

}

@media screen and (max-width: 1000px) {
    h1 {
        margin-top: 70px;
        font-family: sans-serif;
        font-weight: 1000;
        font-size: 70px;

    }
}

@media screen and (max-width: 800px) {
    h1 {
        margin-top: 70px;
        font-family: sans-serif;
        font-weight: 1000;
        font-size: 60px;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        margin-top: 70px;
        font-family: sans-serif;
        font-weight: 1000;
        font-size: 500%;
    }
}

@media screen and (max-width: 650px) {
    h1 {
        font-family: sans-serif;
        font-weight: 1000;
        font-size: 500%;

    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-family: sans-serif;
        font-weight: 1000;
        font-size: 500%;
    }
}

@media screen and (max-width: 550px) {
    h1 {
        font-family: sans-serif;
        font-weight: 1000;
        font-size: 400%;
    }
}

@media screen and (max-width: 550px) {
    h1 {
        font-family: sans-serif;
        font-weight: 600;
        font-size: 200%;
    }
}

@media screen and (max-width: 520px) {
    h1 {
        font-family: sans-serif;
        font-weight: 600;
        font-size: 200%;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-family: sans-serif;
        font-weight: 600;
        font-size: 200%;
    }
}

@media screen and (max-width: 450px) {
    h1 {
        font-family: sans-serif;
        font-weight: 600;
        font-size: 200%;
    }
}

@media screen and (max-width: 300px) {
    h1 {
        font-family: sans-serif;
        font-weight: 600;
        font-size: 200%;
    }
}

@media screen and (max-width: 200px) {
    h1 {
        font-family: sans-serif;
        font-weight: 600;
        font-size: 200%;
    }
}

/*@keyframes example {*/
/*    from {*/
/*        font-size: 4.2rem;*/
/*    }*/
/*    to {*/
/*        font-size: 3.2rem;*/
/*    }*/
/*}*/
#slideshow {
    width: 100%;
    height: 100%;

}

#slideshowImage {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*.row {*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    margin-bottom: 1px;*/
/*    margin-top: 0px;*/
/*}*/

/*@media screen and (min-width:100px) {*/
/*    h1{*/
/*        width:30px;*/

/*    }*/
/*}*/


